In [78]:
import sqlite3

In [79]:
conn = sqlite3.connect('Country-Club3.db')

In [80]:
'''Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! '''

"Q10: Produce a list of facilities with a total revenue less than 1000.\nThe output of facility name and total revenue, sorted by revenue. Remember\nthat there's a different cost for guests and members! "

In [81]:
Revenue_Report = '''SELECT 
    F.name AS facility_name, 
    SUM(B.slots * CASE WHEN B.memid = 0 THEN F.guestcost ELSE F.membercost END) AS total_revenue
FROM 
    Bookings B
JOIN 
    Facilities F ON B.facid = F.facid
GROUP BY 
    F.name
HAVING 
    SUM(B.slots * CASE WHEN B.memid = 0 THEN F.guestcost ELSE F.membercost END) < 1000
ORDER BY 
    total_revenue;'''

In [82]:
cursor = conn.cursor()
cursor.execute(Revenue_Report)

In [83]:
results = cursor.fetchall()
for row in results:
    print(row)

('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [84]:
''' Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order '''

' Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order '

In [85]:
MemberReport = '''SELECT 
    m1.surname AS member_surname, 
    m1.firstname AS member_firstname, 
    m2.surname AS recommender_surname, 
    m2.firstname AS recommender_firstname
FROM 
    Members m1
LEFT JOIN 
    Members m2 ON m1.recommendedby = m2.memid
ORDER BY 
    m1.surname, m1.firstname;'''

In [86]:
cursor = conn.cursor()
cursor.execute(MemberReport)

In [87]:
results = cursor.fetchall()
for row in results:
    print(row)

('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Farrell', 'David', None, None)
('Farrell', 'Jemima', None, None)
('GUEST', 'GUEST', None, None)
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rownam', 'Tim', None, None)
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Darren', None, None)
('Smith', 'Darren', None, None)
('Smith', 'Jack', 'Smith', 'Darren')
('Smith', 'Tracy', None, None)
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Tracy', 'Burton', None, None)
('Tupperware', 'Hyacinth', None, None)
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [88]:
''' Q12: Find the facilities with their usage by member, but not guests '''

' Q12: Find the facilities with their usage by member, but not guests '

In [89]:
MemberFacilityUsageReport = '''SELECT 
    F.name AS facility_name,
    COUNT(B.bookid) AS member_usage_count
FROM 
    Bookings B
JOIN 
    Facilities F ON B.facid = F.facid
WHERE 
    B.memid != 0  -- memid = 0 --if not a a guest
GROUP BY 
    F.name
ORDER BY 
    member_usage_count DESC;'''

In [91]:
cursor = conn.cursor()
cursor.execute(MemberFacilityUsageReport)

In [92]:
results = cursor.fetchall()
for row in results:
    print(row)

('Pool Table', 783)
('Snooker Table', 421)
('Massage Room 1', 421)
('Table Tennis', 385)
('Badminton Court', 344)
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Squash Court', 195)
('Massage Room 2', 27)

In [93]:
'''Q13: Find the facilities usage by month, but not guests'''

'Q13: Find the facilities usage by month, but not guests'

In [95]:
MemberUsageReport = """
SELECT 
    F.name AS facility_name,
    strftime('%m', B.starttime) AS month,
    COUNT(*) AS usage_count
FROM 
    Bookings B
INNER JOIN 
    Facilities F ON B.facid = F.facid
WHERE 
    B.memid != 0
GROUP BY 
    F.name, strftime('%m', B.starttime)
ORDER BY 
    F.name, month;
"""

In [96]:
cursor = conn.cursor()
cursor.execute(MemberUsageReport)

In [97]:
results = cursor.fetchall()
for row in results:
    print(row)

('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)